body {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1550px 750px;
    background-position: center 0px;
    background-color: #622C00;
    background-image: url(imgs/Fundo_Haikyuu.png)
}