body {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1550px 750px;
    background-position: center 0px;
    background-color: #622C00;
    background-image: url(imgs/Fundo_Haikyuu.png)
}

#logo_title {
    color: rgb(255, 255, 255);
    font-family: "Racing Sans One", "sans-serif";
    font-weight: 400;
    font-size: 35px;
    position: relative;
    margin: 40px 300px;
}

.logo {
    width: 125px;
    height: 125px;
    rotate: -60deg;
    position: absolute;
    margin: -130px 0px;
    filter: contrast(1.2) brightness(2.1) grayscale(1) sepia(0.4);
}

.line1 {
    background-color: white;
    height: 2px;
    width: 140px;
    position: absolute;
    margin: -20px -150px;
}

.line2 {
    background-color: white;
    height: 2px;
    width: 140px;
    position: absolute;
    margin: -20px 165px;
}

.cabecalho{
    position: absolute;
    margin: -80px 900px;
    width: 500px;
   
}

.cabecalho li{
    display: inline;
    list-style-type: none;
}

.cabecalho button{
    font-family: "Racing Sans One", "sans-serif";
    font-size: 25px;
    background-color: #512500;
    border-radius: 100px;
    border-color:rgb(245, 101, 5);
}

.container {
    background-color: #622C00;
    width: 900px;
    height: 500px;
    border-radius: 30px;
    position: absolute;
    margin: 20px 300px;
}

.about{
    position: absolute;
    width: 800px;
    height: 400px;
    margin: 70px 350px;
}

.about h1{
    color: #B29D7B;
    font-family: "Anton SC", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 280px;
    font-size: 70px;
}

.about h2{
    color: #FFECCE;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    font-weight: bold;
    width: 250px;
    margin: -50px 300px;

}

.about h3{
    color: rgb(251, 251, 248);
    font-family: "Arbutus Slab", serif;
    font-size: 20px;
    margin: 100px 0px;
}

.about a{
    color: black;
    background-color: rgb(166, 128, 84);
    border-radius: 10px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-flex;
    padding: 10px 30px;
    margin: 60px 10px;
}

.about img{
    position:absolute;
    margin: -320px 550px;
}